<!-- <div class="container">
    <div class="row">
    <div *ngFor="let car of cars" class="card" style="width: 18rem; margin-top:25px; margin-right:25px;" id="carCard">
      <img src="{{car.logo}}" class="card-img-top" alt="..." style="width:250px; margin-top: 10px;margin-left: 7px;">
      <div class="card-body">
        <h5 class="card-title">{{car.brandName}}</h5><br>
        <p class="card-title">Color: {{car.colorName}}</p>
        <p class="card-text">Car Model: {{car.description}}</p>
        <p class="card-text">Daily Price: {{car.dailiyPrice}}</p>
        <div class="row">
        <a  id="rentbtn" class="btn btn-info">Rent</a>
        </div>
          <a href="#" id="updatebtn" class="btn btn-info" >Update</a>
          <a href="#" id="deletebtn" class="btn btn-primary" (click)="deleteCar(car.id)">Delete</a>
      </div>
    </div>
  </div>
  </div> -->