<div class="container">
    <div class="row">
    <div *ngFor="let car of cars" class="card" style="width: 18rem; margin-top:25px; margin-right:35px;" id="carCard">
      <img src="{{car.logo}}" class="card-img-top" alt="..." style="width:250px; margin-top: 10px;margin-left: 7px;">
      <div class="card-body">
        <h5 class="card-title">{{car.brandName}}</h5><br>
        <p class="card-title">Color: {{car.colorName}}</p>
        <p class="card-text">Car Model: {{car.description}}</p>
        <p class="card-text">Daily Price: {{car.dailyPrice | currency }}</p>
        <div class="row">
        <a  id="rentbtn" *ngIf="isLoggedIn() == false" routerLink="rent/{{car.id}}" class="btn btn-info">Rent</a>
        </div>
          <a  *ngIf="isLoggedIn() == true" href="#" id="updatebtn" class="btn btn-info" >Update</a>
          <a *ngIf="isLoggedIn() == true" id="deletebtn" class="btn btn-primary" (click)="deleteCar(car.id)">Delete</a>
      </div>
    </div>
  </div>
  </div>